body {
    background-color: #697e7b;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cc6654;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #cc6654;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #465050;
    color: #FFFFFF;
}

section {
    margin-top: 20px;
    padding: 20px;
}

#about-section {
    background-color: #465050;
    color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

#about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-content img {
    max-width: 40%;
    border: 2px solid #697e7b;
    border-radius: 8px;
}

#about-text {
    max-width: 55%;
}

footer {
    background-color: #697e7b;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
